* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.mainone {
    background-color: rgb(156, 55, 55);
    padding: 50px 60px;
    border-radius: 20px;
}

.parents {
    margin: 50px;
    display: flex;
    justify-content: space-around;

}

body {
    background-color: rgb(59, 59, 203);
    color: #fff;
}

label {
    display: block;
    margin: 5px 0;
    font-size: 20px;
}

button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: green;
    color: #fff;
}

#child {
    margin-bottom: 10px;
    padding: 8px 10px 8px 20px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    display: inline-block;
    font-size: 16px;
    border: blue solid 1px;
}

#childfirst {
    margin-bottom: 10px;
    padding: 8px 10px 8px 20px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    display: inline-block;
    font-size: 16px;
    border: blue solid 1px;
}

#childsecond {
    margin-bottom: 10px;
    padding: 8px 10px 8px 20px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    display: inline-block;
    font-size: 16px;
    border: blue solid 1px;
}